*{
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
  color:white;
  background-color: black;
}

*header {
  background-color:black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

    .ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}


ul li{
  display: inline;
  margin-right: 40px;

}

ul li a {
  display: inline-block;
  margin-right: 40px;
  text-decoration: none;
  color: white;
  padding: 5px 0.2px;
  transition: 0.5s ease;
}

ul li a:hover{
    color: white;
}

ul li a.aktiverad{
    border-bottom: 2px solid #cd99d4;
    color: #fff;
}

.logo img{
    float:right;
    top: 27px;
    
}

.title{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.titleLag {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .container
  {
    max-width: 700px;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
  }

  .container .titlee{
    font-size: 25px;
    font-weight: 500;
    position:relative;
  }

  .container .titlee::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    }
    .container form .user-details{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; 
      
      margin: 20px 0 12px 0;
    }
    
    form .user-details .input-box{
      margin-bottom: 15px;
      width:100%;
    }

    
     .user-details .input-box .details{
       display: block;
       font-weight: 500;
       margin-bottom: 5px;

     }

     .user-details .input-box input {
       height: 45px;
       width: 100%;
       outline: none;
       border-radius: 5px;
       border: 1px solid #ccc;
        padding-left: 15px;
        font-size: 16px;
        border-bottom-width: 2px;
        transition: all 0.3s ease;
     }
     

     user-details .input-box input:focus,
     user-details .input-box input:valid{
       border-color: none;
     }

     form .button{
       height: 45px;
       margin: 45px 0;
       border: 1px solid#ccc;
       padding-left: 15px;
       font-size: 16px;
       border-bottom-width: 2px;
       transition: all 0.3s ease;
       outline: none;

     }

     form .button input{
       height: 100%;
       width: 100%;
       outline:none;
       color: #fff;
       border: none;
       font-size: 18px;
       font-weight: 500;
       border-radius: 5px;
       letter-spacing: 1px;
       background: linear-gradient(white);
     }
     form .button input:hover{
      background: linear-gradient(white);
{
  @media (max-width: 584px) {
    .container
  {
    max-width: 100%;
  }
  
  }
    
  